---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Neamhel">
	<main>
		<div id="racha" class="image-container">
			<img src="./img/racha.png" alt="Rachas stream">
		</div>
	
	</main>
</Layout>